@font-face {
    font-family: 'Great Vibes';
    src: local('Great Vibes Regular'), local('Great-Vibes-Regular'),
        url('GreatVibes-Regular.woff2') format('woff2'),
        url('GreatVibes-Regular.woff') format('woff'),
        url('GreatVibes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }